@page
@model Rover.Pages.RevisionsModel
@{
    ViewData["Title"] = "Revisions";
}

<h2>Revisions</h2>

<style>
    tr > td {
        padding-right: 20px;
        vertical-align: top;
    }
</style>

<p>This page will show the overall history of changes made to this web application.</p>

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">03-30-2018</span>
        <table>
            <tr>
                <td><span class="label label-success">NEW</span></td>
                <td>Prepared this application for Twin Cities Code Camp demonstration.  :)</td>
            </tr>
        </table>
    </li>    
</ul>

